head
  title= page_title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-responsive.no-icons.min.css')
  style(type='text/css')
    body { padding-top: 60px; padding-bottom: 40px; }
      .sidebar-nav { padding: 9px 0; } 
